<div class="shadow-b-sm flex flex-row justify-between align-center items-center p-5">
  <div>
    <hlm-avatar variant="large">
      <span class="bg-secondary text-white font-bold" hlmAvatarFallback>/ep</span>
    </hlm-avatar>
  </div>
  <div class="flex flex-row gap-8">
    <div class="flex flex-row gap-4">
      <a class="cursor-pointer" hlmBtn routerLink="/" style="color: var(--text-primary);"
         variant="link">Home</a>
      <a class="cursor-pointer" hlmBtn routerLink="/about" style="color: var(--text-primary);" variant="link">About</a>
      <a class="cursor-pointer" hlmBtn routerLink="/contact" style="color: var(--text-primary);"
         variant="link">Contact</a>
    </div>
    <button (click)="themeService.toggleTheme()" [state]="themeService.toggleState()"
            [value]="themeService.toggleState()" brnToggle
            class="cursor-pointer rounded" hlm
            style="color: var(--text-primary); background-color: var(--bg-secondary);">
      @if (themeService.toggleState() === 'on') {
        <ng-icon hlm size="sm" name="lucideSun"/>
      } @else {
        <ng-icon hlm size="sm" name="lucideMoon"/>
      }
    </button>
  </div>
</div>
